* {
	text-decoration: none !important;
}

body {
	background-color: white;
	border-style: none;
	direction: ltr;
	display: block;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px !important;
	margin: 0;
	text-align: left;
	vertical-align: top;
}

.small {
	font-size: 10px !important;
}

.ui-header .ui-title {
	font-size: 14px !important;
}

.ui-header-fixed, .ui-footer-fixed {
	min-height: 38px !important;
}

label, input, textarea, .ui-btn-inner {
	font-size: 12px !important;
}

.red, .error {
	color: #CC0000;
}

.green, .suc {
	color: #5A8629;
}

.error {
	background: url(../../../images/error.gif) no-repeat;
	padding: 4px 1px 4px 30px;
}

.suc {
	background: url(../../../images/suc.gif) no-repeat 1px;
	padding: 4px 1px 4px 30px;
}

.grey {
	color: #808080;
	font-weight: bold;
}

/*INIT---------Fix the square border in search input------------------*/
.ui-input-search {
	border-radius: 0.6em 0.6em 0.6em 0.6em !important;
}

.ui-select {
	width: 100% !important;
}
/*END----------Fix the square border in search input------------------*/


img.ui-li-icon {
	vertical-align: middle;
}

img.icon-priority {
	max-height: 55px !important;
	height: 55px !important;
}

ul.ui-listview li.ui-btn div.ui-btn-inner div.ui-btn-text {
	padding-top: 5px;
	padding-left: 5px;
}

ul.ui-itemlistview {
	padding-top: 30px;
}

/*
li.ui-btn {
	margin-bottom: 4px !important;
	margin-top: 4px !important;
}
*/


/*INIT---------Fix the tons of air between the rows in small table----*/
.head_vertical {
	margin-top: 0px !important;
	border-top: 1px solid grey;
}

.head_horizontal {
	border-bottom: 1px solid grey !important;
}

@media screen and (max-width: 25em) {
	.ui-table th, .ui-table td {
		padding: 0px !important;
	}
}
/*END----------Fix the tons of air between the rows in small table----*/

/*INIT---------Fix to avoid clicks under loading message--------------*/
.ui-loader-background {
	width:100% !important;
	height:100% !important;
	top:0 !important;
	margin: 0 !important;
	background: rgba(0, 0, 0, 0.3) !important;
	display:none !important;
	position: fixed !important;
	z-index:100 !important;
}

.ui-loading .ui-loader-background {
	display:block !important;
}
/*END----------Fix to avoid clicks under loading message--------------*/
