.calendar-month {
	font-family: Verdana, sans-serif, Arial, Helvetica;
	color: #5a8629;
	font-weight: bold;
	margin-top: 2px;
	font-size: 12px;
	text-align: center;
	line-height: 15px;
}

table.calendar th td {
	text-align: right;
	padding: 0px;
	margin: 0px;
	font-family: Arial;
	font-size: 0.8em;
	height: 16px:
	line-height: 15px;
}

table.calendar {
	margin-left: 20px;
}

td.calendar {
	padding-left: 20px;
	line-height: 15px;
}

table.calendar th {
	background-color: #666;
	height: 10px;
	color: #ffffff;
	font-weight: bold;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
}

