.calendar-month {
	color: #5a8629;
	font-weight: bold;
	margin-top: 2px;
	font-size: 10px;
	text-align: center;
	line-height: 15px;
	
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
}

table.calendar td.project a {
	background-color: #aa3333;
	color: #fff;
	font-weight: bold;
}

table.calendar td.workorder a {
	background-color: #3a3a3a;
	color: #fff;
	font-weight: bold;
}

table.calendar td.task a {
	background-color: #33aa33;
	color: #fff;
	font-weight: bold;
}

table.calendar td.agenda a {
	background-color: #3333aa;
	color: #fff;
	font-weight: bold;
}

table.calendar {
	margin-left: 0px;
	padding-left: 0px;
	border-spacing: 4px;
	background: #FFF;
	font-family: Verdana, sans-serif, Arial, Helvetica;

	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
}

table.calendar_outer {
	margin-left: 0px;
	padding-left: 0px;
	border-spacing: 0px;
	background: #FFF;
	font-family: Verdana, sans-serif, Arial, Helvetica;

	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
}

td.calendar {
	padding-left: 5px;
	line-height: 15px;
}

table.calendar_outer tr th {
	background-color:#FF9933; /* orange */
	background-image: url('../../images/orange_bg.png');
	height: 20px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	border-bottom: solid #FFF 2px;
	padding: 0px;
}

table.calendar tr th {
	height: 15px !important;
	font-size: 8px;
	font-weight: bold;
	line-height: 0px;
}

table.calendar tr td {
	height: 15px !important;
	text-align: center;
	line-height: 0px;
	background: #F3F3F3;
	font-size: 8px;
	padding: 0px 2px 0px 2px;
}

table.calendar_outer>tbody>tr>td {
	padding: 2px 2px 10px 2px;
}

div#calendar_div {
	padding: 0px; 
	margin: 10px 0px 10px 0px;
}

