/*

(c) Original author: Erwin Aligam, http://www.styleshout.com/
(c) Modified for project Integria by Sancho Lerena, 2007.

*/

@import url(integria_tip.css);
@import url(calendar.css);

/* top elements */
* {
	margin: 0; padding: 0;
}

body {
	margin: 0px 15px;
	font: 0.80em  Arial, 'Trebuchet MS', Arial, Sans-serif;
	background: #ffffff;
	color: #666666;
	text-align: center;
}

td, th {
	font: 0.80em  Arial, 'Trebuchet MS', Arial, Sans-serif;
	color: #555;
	padding: 1px;
	line-height: 22px;
}

/* links */
a {
	background: inherit;
	color: #2179B1;
}
a:hover {
	text-decoration: none;
	background: inherit;
	color: #806B4D;
}

/* headers */
h1, h2, h3 {
	font: bold 1em 'Trebuchet MS', Tahoma, Sans-serif;
	text-transform: uppercase;
	color: #555;
}
h1 { font-size: 1.5em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; }
h4 { font-size: 0.9em; }
h5 { font-size: 0.7em; }
h6 { font-size: 0.5em; }

#main h1, #rightbar h1 {
	padding: 10px 0 5px 5px;
	margin: 0 0 0 10px;
	text-transform: uppercase;
	border-bottom: 1px solid #f2f2f2;
}
#sidebar h1 {
	padding: 10px 0px 5px 00px;
	/* background: url(../../images/square_arrow.gif) no-repeat 2px 12px; */
	margin: 0;
	font: bold 1.1em 'Arial', Sans-serif;
	text-transform: none;
}

p, h1, h2, h3, h4, h5 {
	margin: 10px 15px;
}

table {
	border: none;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: transparent;
}

table.box {
	border-top: 2px solid #2179B1;
	border-bottom: 1px solid #2179B1;
	padding-left: 5px;
	padding-right: 5px;
	background: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 15px;
}
table.blank {
	border: none;
	background: #fff;
	padding: 0px;
	margin: 0px;
	padding-left: 5px;
    border: none;
}

table.databox, table.databox_color {
	margin-left: 15px;
	padding-top: 5px;
	padding-left: 5px;
	background: #eee;
	border-bottom: none;
}

table.listing {
	margin-left: 15px;
	padding-top: 5px;
	padding-left: 5px;
	background: #fff;
	border-top: 2px solid #2179B1;
	border-bottom: 1px solid #2179B1;
	border-collapse: collapse;
	text-align: left;
}

.button {
	margin-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 0px;
	border-top: 2px solid #2179B1;
	border-bottom: 2px solid #2179B1;
	background: #eee;
	text-align: right;
}

table.listing tr:hover {
	background: #E8E8E8;
}

tr.yellow {
	background: #FFFCA0;
}

tr.red {
	background: #FFDAD3;
}

tr.green {
	background: #DAFFCC;
}

ul, ol {
	margin: 10px 30px;
	padding: 0 15px;
}
ul span, ol span {
	color: #666666;
}

/* images */

img {
	border: 0;
}

img.float-right {
  margin: 5px 0px 5px 15px;
}
img.float-left {
  margin: 5px 15px 5px 0px;
}


code {
  margin: 5px 0;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
  /* white-space: pre; */
  background: #FAFAFA;
  border: 1px solid #f2f2f2;
  border-left: 3px solid #2179B1;
}
acronym {
  cursor: help;
  border-bottom: 1px solid #777;
}
blockquote {
	margin: 15px;
 	padding: 0 0 0 32px;
  	background: #FAFAFA url(../../images/quote.gif) no-repeat 5px 10px !important;
	background-position: 8px 10px;
	border: 1px solid #f2f2f2;
	border-left: 3px solid #2179B1;
	font-weight: bold;
}

/* form elements */

label {
	display:block;
	font-weight:bold;
	margin:2px 0;
	font: normal 0.9em Arial, sans-serif;
}
input {
	padding: 2px;
	border:1px solid #A9C4D6;
	height: 20px;
	font: normal 0.9em Arial, sans-serif;
	color:#666;
}
textarea {
	padding:2px;
	font: normal 0.9em Arial, sans-serif;
	border:1px solid #A9C4D6;
	color:#666;
}

input.button {
	margin: 0;
	font: normal 0.9em Arial, sans-serif;
	background: #FFF;
	padding: 2px 3px;
	color: #333;
	margin-left: 0px;
	padding-left: 0px;
}

input.dialogbtn {
	margin: 0;
	font: normal 0.9em Arial, sans-serif;
	background: #fafafa;
	padding: 0;
	color: #666;
	border:1px solid #A9C4D6;
	height: 20px;
	margin-left: 0px;
	padding-left: 0px;
}

select {
	padding: 0px;
	border:1px solid #A9C4D6;
	font: normal 0.9em Arial, sans-serif;
	color:#666;
	float: left;
}

select.pagesize {
	float: none;
}

input[type="checkbox"] {
	padding: 4px;
	border:1px solid #A9C4D6;
	font: normal 0.9em Arial, sans-serif;
	color:#666;
	float: left;
	margin-right: 3px;
}

/* search form */
form.searchform {
	background: transparent;
	border: none;
	margin: 0; padding: 0;
}
form.searchform input.textbox {
	margin: 0;
	width: 120px;
	border: 1px solid #CCC;
	background: #FFF;
	color: #333;
	vertical-align: top;
}
form.searchform input.button {
	width: 55px;
	vertical-align: top;
}

/* New styles for data box */

.databox_color {
	border-top: 2px solid #2179B1;
	margin-left: 10px;
	padding-top: 5px;
}

.databox {
	border-top: 2px solid #2179B1;
	margin-left: 10px;
	padding-top: 5px;
}

.databox_frame {
	margin-left: 10px;
	border-top: 2px solid #2179B1;
	padding-top: 5px;
}

/*****************/
/*	Layout	 */
/*****************/
#wrap {
	margin: 0 auto;
   	width: 100%;
	text-align: left;
	background: #FFF;
}
#content-wrap {
	clear:both;
   	margin: 0; 
	padding:0;
	width: 100%;
}

/* header */
#header {
	position: relative;
	background: url(../../images/headerbg-grey.gif) repeat-x 0 0;
	height: 50px;
}

#header h1#logo {
	position: absolute;
	margin: 0; padding: 0;
	font: bolder 4.1em 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -2px;
	color: #CCC;
	text-transform: lowercase;
	/* change the values of top and Left to adjust the position of the logo*/
	top: 0; left: 5px;
}
#header h2#slogan {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 1em 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	color: #FFF;
	/* change the values of top and Left to adjust the position of the slogan*/
	top: 4px; left:65px;
}
#header img {
	border: 0;
	margin: 0px 0px 0px 0px;
	position: relative;
	top: 4px;
}

#header img.logoimage {
	position: absolute;
	top: 5px; left: 5px;
}
#header a {
	text-decoration: none;
	color: #AAAAAA;
}
#header div {
	position: absolute;
	top: 20px; right:10px;
}
#header span {
	letter-spacing: 2px;
	font: bolder 0.8em 'Trebuchet MS', Arial, Sans-serif;
	color: #AAA;
	padding-right: 25px;
}

#header-nav div {
	position: absolute;
	top: 26px; left:125px;
}
#header-nav span {
	letter-spacing: 2px;
	padding-left: 25px;
	font: bolder 0.91em 'Trebuchet MS', Arial, Sans-serif;
	color: #dddddd;
}

#header-nav a {
	font: bolder 0.91em 'Trebuchet MS', Arial, Sans-serif;
	color: #fff;
}

.header {
	text-align: left;
}

/* main column */
#main {
	border-left:1px solid #F2F2F2;
	margin-left:207px;
	padding-left: 10px;
	min-height: 500px;
	margin-right: 20px;
	padding-top: 1px;
	/* IE Needs fixed width to work :( */
	/* width: 800px; */

}

.post-footer {
	background-color: #FAFAFA;
	padding: 5px; margin-top: 20px;
	font-size: 95%;
}
.post-footer .date {
	background: url(../../images/clock.gif) no-repeat 0 center;
	padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .comments {
	background: url(../../images/comment.gif) no-repeat 0 center;
	padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .readmore {
	background: url(../../images/page.gif) no-repeat 0 center;
	padding-left: 20px; margin: 0 10px 0 5px;
}

/* sideabar */
#sidebar {
	clear: none;
	float: left;
	width: 200px;
	margin: 0;
	padding: 0;
	display: inline;
}
#sidebar ul.sidemenu {
	list-style: none;
	text-align: left;
	margin: 0 0 0px 0;
	text-decoration: none;
	padding: 0px 0px 0px 0px;
}
#sidebar ul.sidemenu li {
	font: 1.0em 'Arial', Sans-serif;
	border-bottom: 1px solid #EFF0F1;
	background: url(../../images/arrow.gif) no-repeat 2px 5px;
	padding: 2px 5px 2px 20px;
}

#sidebar li#sidesel a {
	color: #2179B1;
	text-decoration: none;
}

* html body #sidebar ul.sidemenu li { height: 1%; }

#sidebar ul.sidemenu a {
	font-weight: bold;
	background-image: none;
	text-decoration: none;
}

/* rightbar */
#rightbar {
	float: right;
	width: 21%;
	padding: 0;	margin: 0;
}

/* footer */
#footer {
	clear: both;
	background: #FFF url(../../images/footerbg.gif) repeat-x left top;
	border-top: 1px solid #F2F2F2;
	text-align: center;
	height: 50px;
}
#footer a {
	text-decoration: none;
	font-weight: bold;
}

/* menu */
#menu {
	clear: both;
	margin: 0;
	padding: 0;

}
#menu ul {
	position: relative;
	bottom: 4px;
	margin: 0px 0 0 1px; padding: 0;
	float: left;
	text-transform: uppercase;
	font: bold 1.1em Arial, Sans-serif;
	width: 100%;
	border: 1px solid #808080;
	border-width: 0 0 4px 0;
	list-style: none;
}
#menu ul li{
	display: inline;

}
#menu ul li a {
	position: relative; bottom: -4px;
	float: left;
	color: #000;
	padding: 0px 10px;
	margin-top: 0px;
	text-decoration: none;
/*	background: white url(../../images/menudivide.gif) repeat-y right top;*/
	background-color: #eee;
	border-bottom: 4px solid #2179B1;
}
#menu ul li a:hover{
	color: black;
	background-color: #eee;
	border-bottom: 4px solid #4D9FD4;
}
#menu ul li#current a{
	color: #fff;
	background-color: #2179B1;
	border-bottom: 4px solid  #2179B1;
}

/* Alignment classes */
.float-left   { float: left;}
.float-right  { float: right; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { text-align: center; }
.align-justify { text-align: justify; }

/* display classes */
.clear  { clear: both; }
.block  { display: block; }
.hide   { display: none; }
.orange { color: #FFA600; }

/*  */
/* Old styles */

a {
	color: #444;
	text-decoration: none;
}
a:hover {
	color: #2179B1;
	text-decoration: underline;
}

div#db_f {
	text-align: center;
	margin: auto;
	padding: 0.5em;
	width: 55em;
	margin-top: 3em;
}
div#noaccess {
	text-align: center;
	width: 350px;
	padding-left: 40px;
}
.raya {
	border-top: 1px solid #778866;
	width: 100%;
}
input.login {
	border-color: #778866;
	background-color: #f5f5f5;
	margin: 2px 0 8px;
	width: 90px;
	font-size: 12px;
}
input.sub {
	border-bottom-color: #708090;
	border-right-color: #708090;
	-moz-border-radius: 5%;
	font-size: 0.85em;
	font-weight: bold;
	height: 22px;
	margin-right: 10px;
}


input.next {
	padding-right: 15px;
	background: #e5e5e5 url(../../images/go.png) no-repeat right 2px;
}
input.upd {
	padding-right: 20px;
	background: #e5e5e5 url(../../images/upd.png) no-repeat right 5px;
}
input.create {
	padding-right: 20px;
	background: #e5e5e5 url(../../images/wand.png) no-repeat right 3px;
}

input.search {
	padding-right: 20px;
	background: #e5e5e5 url(../../images/zoom.png) no-repeat right 3px;
}

input.inventory {
	padding-right: 20px;
	background: #e5e5e5 url(../../images/bricks.png) no-repeat right 3px;
}

input.people {
	padding-right: 20px;
	background: #e5e5e5 url(../../images/group.png) no-repeat right 3px;
}

td {
	padding: 1px 1px 1px 1px;
}

td.datos3 {
	background-color: #eee;

}

td a.hover {
	background-color: #ff0000;
}

th {
	background-color: #EBEBED;
	color: #000;
	border-bottom: 1px solid #ccc;
	padding: 0px;
	margin: 0px;
	font: 0.80em  Arial, 'Trebuchet MS', Arial, Sans-serif;
	line-height: 22px;
}

.f9, .f9i, .f9b, td.f9, td.f9i, td.datosf9, td.datos2f9,
td.datosf9i, td.datos2f9i {
	font-size: 9px;
}

.error {
	background: url(../../images/error.gif) no-repeat;
	padding: 4px 1px 6px 30px;
}

.suc {
	color: #5a8629;
	background: url(../../images/suc.gif) no-repeat 1px;
	padding: 4px 1px 6px 30px;
}

div#wizard {
	text-align: left;
	border: 1px solid #999999;
	margin-top: 3em;
	margin-bottom: -1em;
	padding: 20px;
	width: 600px;
	background-color: #fff;
	background: url(../../images/background8.jpg);
}

div#install_box {
	float: right;
	padding-right: 20px;
	margin-top: 10px;
	width: 350px;
}

div.data_box {
	border-top: 5px solid #778855;
	border-right: 1px solid #4e682c;
	border-bottom: 1px solid #4e682c;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 20px;
	margin-bottom: 25px;
	background-color: #fefefe;
	/* border: 1px solid #dAdBdC; */
	width: 799px;
	float: left;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	min-height: 470px;
}

/* Styles for Page TAB taken from Pandora FMS*/

#menu_tab .mn, #menu_tab ul, #menu_tab .mn ul
{
	padding-right: 0px;
	list-style: none;
	margin-top: -14px;
	margin-right: -15px;
}
#menu_tab .mn li
{
	float: right;
	position: relative;
}
#menu_tab li a, #menu_tab li.nomn a
{
	background: #d4ddc6;
	padding: 2px 10px 2px 10px;
	color: #333;
	border-left: 1px solid #fff;
	font-weight: bold;
	line-height: 18px;
}

#menu_tab .mn li a
{
	display: block;
	text-decoration: none;
}

#menu_tab li.nomn:hover a,
#menu_tab li:hover ul a:hover
{
	background: #cde0ad;
}
#menu_tab li:hover a
{
	background: #b2b08a url("../images/arrow.gif") no-repeat right 3px;
}
#menu_tab li:hover ul a, #menu_tab .mn ul
{
	background: #db6351;
	border-top: none;
}
/* TAB TITLE */

#menu_tab_left .mn, #menu_tab_left ul, #menu_tab_left .mn ul
{
	padding: 0px 0px 0px 0px;
	list-style: none;
	margin: 0px 0px 0px -20px;
}
#menu_tab_left .mn li
{
	float: left;
	position: relative;
}
#menu_tab_left li a, #menu_tab_left li.nomn a
{
	background: #999;
	padding: 2px 10px 2px 10px;
	color: #fff;
	font-weight: bold;
	line-height: 18px;
}

#menu_tab_left .mn li a
{
	display: block;
	text-decoration: none;
}


span.users {
	background: url(../../images/group.png) no-repeat;
}
span.agents {
	background: url(../../images/bricks.png) no-repeat;
}
span.data {
	background: url(../../images/data.gif) no-repeat;
}
span.alerts {
	background: url(../../images/bell.png) no-repeat;
}
span.time {
	background: url(../../images/hourglass.png) no-repeat;
}
span.users, span.agents, span.data, span.alerts, span.time {
	margin-left: 4px;
	margin-top: 10px;
	padding: 4px 8px 12px 30px;
	display: block;
}

/* Styles for side boxes */

.portlet {
	clear:both;
	float:left;
	padding: 10px 0 0 0;
	width: 200px;
	overflow:hidden;
	margin:0 0 0.5em 0;
	list-style:none;
	font-size:11px;
}

.portlet h2 {
	display:block;
	width:200px;
	background-color:#A0A0A0;
	background-image:url(../../images/leftnav_bg.gif);
	background-repeat:no-repeat;
	background-position:left top;
	overflow:hidden;
	padding:3px 10px 0px 10px;
	margin:0px 0px 1px 0px;
	color:#FFF;
	font: bold 1.2em 'Trebuchet MS', Tahoma, Sans-serif;
	text-transform: none;
	text-decoration: none;
	height: 20px;
}

.portlet h2:hover {
	background-color:#000;
	text-decoration: none;
}

.portlet a:hover {
	text-decoration: none;
}

.portletBody{
	border-left:4px solid #ebebeb;
	border-right:4px solid #ebebeb;
	background-color:#eeeeee;
	padding:10px 10px 10px 8px !important;color:#717171;
	margin-top: 0px;
	width:200px;padding:3px 10px 0px 10px;
}


.portlet h3 {
	height: 20px;
	display:block;
	width:200px;
	background-color:#2179B1;
	background-repeat:no-repeat;
	background-position:left top;
	overflow:hidden;

	padding-top: 0px;
	padding-left: 7px;
	margin:0px 0px 0px 0px;

	color:#FFF;
	font: bold 1.2em 'Trebuchet MS', Tahoma, Sans-serif;
	text-transform: none;
	text-decoration: none;
	background-image:url(../../images/leftnav_bg_uncollapsible.gif);
}

h3.admin {
	background-color: #12496B;
}

h3.info {
	background-color: #80BEE6;
}

h3.system {
	background-color: #606060;
}

.notetitle {
	border:1px solid #aaaaaa;
	padding: 7px 10px 7px 10px;
	margin: 15px 10px 0px 10px;
	background-color:#eeeeee;
	color:#000;
	width:720px;
	font: 0.75em  Arial, 'Trebuchet MS', Arial, Sans-serif;
}

.notebody {
	margin: 0px 15px 5px 10px;
	padding: 15px 10px 15px 10px;
	border-bottom:1px solid #aaaaaa;
	border-right:1px solid #aaaaaa;
	border-left:1px solid #aaaaaa;
	background-color:#ffffff;
	color:#666666;
	width:720px;
	font: 1em;
}

div#login {
	margin-top: 120px;
	width: 460px;
	border-left: solid 1px #000;
	border-top: solid 1px #000;
	border-bottom: solid 2px #000;
	border-right: solid 2px #000
}
div#login_in, #login_f {
	margin: 0 auto;
	width: 400px;
}
div#login_f {
	margin-top: 10px;
	margin-bottom: 25px;
}

div#foot {
	font-size: 7pt;
	margin-top: solid 2px #000;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background: #505253;
	width: 100%;
	width: 642px;
	color:#FFF;
	clear: both;
}

div#foot a{
	color: #EAA036;
	font-weight: bold;
	text-decoration: none;
}

div#foot a:hover{
	color: #FAF036;
	font-weight: bold;
	text-decoration: none;
}

div.pager {
	margin-left: 10px;
	margin-top: 5px;
}

div.pager img{
	padding-left: 5px;
}

div.pager input {
    padding-left: 5px;
}

.image-button, .result_table tr, .pager img {
	cursor: pointer;
}

.dialog {
	background-color: #FFFFFF;
}

.dialog .ui-dialog-titlebar {
	background-color: #2179B1;
	padding-top: 10px;
	height: 20px;
	color: #FFFFFF;
	font-weight: bold;
	cursor: move;
	font-variant: small-caps;
}

.dialog .ui-dialog-titlebar-title {
	position: relative;
	margin-left: 5px;
	left: 4px;
	top: 7px;
}

.dialog .ui-dialog-titlebar-close {
	cursor: default;
	position: absolute;
	height: 16px;
	right: 10px;
	top: 6px;
	width: 16px;
}

#incident_inventories {
	width: 230px;
}

textarea {
	width: 100%;
}

label {
	font-weight: bold;
}
