/*

STYLE FOR WHITE BACKGROUND ON PDF/HTML output

*/


body {

	margin-left: 20px;
	margin-top: 50px;
	font: 0.80em  Arial, 'Trebuchet MS', Arial, Sans-serif;
	background: #ffffff;
	color: #666666;
	text-align: center;
	background: none;
}

